*{
    padding:0;
    border:0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:1440px;
    
}
.top{
    display: flex;
    height:70px;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    border:1px solid black;

}
.top-left{
    display: flex;
    width:50%;
    height:70px;
    border:1px solid red;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 20px;
    padding-left:135px; */
}
.logo{
            width:30px;
            height:30px;
            background-color: #25df8f;
            border-radius: 5px;
            /* display: flex; */
            /* flex-direction: row; */
            justify-content: center;
            /* align-items: center; */
}
.logo div{
    width:14px;
    height:24px;
    color: #ffffff;
    font-weight: 700;
}
.searchfield{
    width:510px;
    height: 30px;
    border:1px #d9dde7;
}
.center{
    display: flex;
    height: 550px;
    width:100%;
    border:1px solid black;
    flex-direction: row;
    justify-content: center;
}

.center1{
    display: flex;
    /* flex-direction: column; */
    /* align-content: center; */
    width:50%;
    height: 100%;
    border:1px solid blue;


}
.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 135px;
    padding-top:101px;

}
.center-logo{
    display: flex;

    width:41px;
    height:53px;
    /* padding-left:135px;
    padding-top:101px; */
}
.center-caption{
    width:490px;
    height: 100px;
    font-size:36px;
    font-weight: 400;
    line-height:1.39;
    color:#2b313d;
}
.center-search{
    display:flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
    width:470px;
    height:50px;
    border-radius:5px;
    border:solid 1px #d9dde7;
}
.centerbar1{
    padding-left: 20px;
    width:151px;
    height:16px;
    font-size:12px;
    font-weight:400;
    color:#949fb7;

}
.centerbar2{
    padding-right: 20.2px;
    width:11.6px;
    height:12px;
    color: #949fb7;
}
.center-buttons{
    display: flex;
    flex-direction:row;
    /* justify-content: center; */
    /* width:104px; */
    height:30px;
    /* border-radius:5px; */
    /* font-size:14px; */
    padding-top: 15px;

}
.b1{
    width:104px;
    height:30px;

    /* font-size:14px; */
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    /* color:#ffffff; */
    border-radius:5px;
    
    background-color: #25df8f;
}
.b11{
    font-size: 14px;
    height:19px;
    font-weight: 400;
    color:#ffffff;
}
.b2{
    /* width:65px; */
    background-color: #c1c8d7;
    /* height:19px; */
    /* font-size:14px; */
    /* font-weight:400; */
    margin-left: 15px;


    width:104px;
    height:30px;

    /* font-size:14px; */
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    /* color:#ffffff; */
    border-radius:5px;
}
.b21{
    font-size: 14px;
    height:19px;
    font-weight: 400;
    color:#ffffff;
}
.b31{
    font-size: 14px;
    height:19px;
    font-weight: 400;
    color:#ffffff;
}

.b3{
    background-color: #c1c8d7;
    height:19px;
    /* font-size:14px; */
    /* font-weight:400; */
    /* color:#ffffff; */
    /* padding-left: 15px; */
    /* border-radius:5px; */

    /* background-color: #c1c8d7; */
    /* height:19px; */
    /* font-size:14px; */
    /* font-weight:400; */
    margin-left: 15px;


    width:104px;
    height:30px;

    /* font-size:14px; */
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    /* color:#ffffff; */
    border-radius:5px;

}
.b4{
    /* background-color: c1c78d7; */
    /* height:19px; */
    /* font-size:14px; */
    /* font-weight:400; */
    /* color:#ffffff; */
    margin-left: 15px;
    border-radius:5px;

    background-color: #c1c8d7;
    /* height:19px; */
    /* font-size:14px; */
    /* font-weight:400; */
    /* padding-left: 15px; */


    width:104px;
    height:30px;

    /* font-size:14px; */
    /* font-weight: 400; */
    /* letter-spacing: normal; */
    /* color:#ffffff; */
    border-radius:5px;
}
.b41{
    font-size: 14px;
    height:19px;
    font-weight: 400;
    color:#ffffff;
}
.center2{
    width:50%;
    height:100%;
    background-image: url('right.png');
    background-size: cover;
}
.bottom{
    display: flex;
    height: 1777px;
    width:100%;
    border:1px solid brown;
    flex-direction: row;
    /* justify-content: center; */
    /* padding-left: 135px; */

}
.bottom1{
    display:flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    width:50%;
    height:100%;
    border:1px solid yellow;

    /* margin-left: 135px; */
}

.spain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:340px;
    height:32px;
    font-size:24px;
    font-weight:400;
    line-height:normal;
    letter-spacing: normal;
    padding-left:135px;
    padding-top:60px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h1{
    color:#949fb7;
}
.h2{
    color:#2b313d;
}
#triangle{
    /* box-sizing: border-box;
    width:74px;
    height:74px;
    border-style:solid;
    border-width:0 37px 0px 0;
    border-color:transparent #202020 transparent transparent; */
    transform: rotate(180deg);
    width:8px;
    height:6px; 
    /* /* width:8px;
    height: 6px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid  #c1c8d7; */
}
.triangle{
    padding-left: 10px;
}

.bottom2{
    width:50%;
    height:100%;
    border:1px solid red;
}
.pic1{
    /* flex-direction: row; */
    display: flex;
    flex:1;
}
.spain-pics{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.pics11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:270px;
    height:190px;
    object-fit:contain;
}
